

.ordersNumber{
 margin-top: 5%;
}

.year{
  margin-left: 15%;
  color: var(--green);
  margin-top: 30px;
}

.table{
  margin-left: 150px;
  margin-top: 15px;
  margin-bottom: 50px;
  
}

.line{
  text-transform: uppercase;
  color: var(--green);
  font-weight: bold;
}

.colum{
  color: var(--blue);
}

.columMonth{
  color: var(--green);
  font-weight: bold;
  
}

.columOrders{
  
  
  font-weight: bold;
}

.columDay{
  color: var(--green);
  font-weight: bold;
}

.columId{
  
  font-weight: bold;
}




    .containerOrders {
        
        margin-top: 2%;
        width: 400px;
        height: 550px;
        margin-left: 5%;
        
        text-align: center;
        
        
        box-shadow: 0 0 2px 3px rgb(74,179,2);
        color: var(--green);
        background-color: var(--blue);
        
        overflow-y: auto; 

        
      }
      

      .containerOrders::-webkit-scrollbar {
        width: 10px;
      }
      
      .containerOrders::-webkit-scrollbar-track {
        background: var(--blue);
        
      }
      
      .containerOrders::-webkit-scrollbar-thumb {
        background: var(--green);
        border-radius: 4px;
        
      }
      
      .containerOrders::-webkit-scrollbar-thumb:hover {
        background: var(--blue);
       
      }
